extends invoices_layout

block content
  h1= title
  p Invoice module content.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The module has the following record counts:

    ul
      li #[strong Invoices:] !{data.invoice_count}
      li #[strong Suppliers:] !{data.suppliers_count}
      li #[strong Items:] !{data.items_count} 
      li #[strong Users:] !{data.users_count}
